* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
/*-- Font Size --*/
    --website-name: 2.4rem;
    --title: 2.4rem;
    --pretitle: 1.2rem;
    --section-title: 2.4rem;
    --section1-p: 1.2rem;
    --section1-span: 1rem;
    --section1-input: 1.4rem;
    --section1-button: 1.4rem;
    --section2-title: 2.4rem;
    --section2-p: 1.6rem;
    --section2-button: 1.6rem;
    --section3-tech: 1.2rem;
    --section3-project: 1.8rem;
    --section3-more: 1.8rem;
    --section4-pretitle: 1.8rem;
    --section4-title: 3.6rem;
    --section4-p: 1.6rem;
    --section5-cite: 2.4rem;
    --section5-name: 2.4rem;
    --section5-rol: 1.8rem;
    --footer-menu: 1.8rem;
    --footer-website-name: 3.6rem;
    --footer-span: 1rem;
    --footer-input: 1.4rem;
    --footer-button: 1.4rem;
    --footer-created: 1.4rem;
/*-- Family Fonts --*/
    --heebo: 'Heebo', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Montserrat', sans-serif; 
/*-- Colors --*/ 
    --color-black: #000000;
    --color-gray1: #333333;
    --color-gray2: #4f4f4f;
    --color-gray3: #828282;
    --color-gray4: #bdbdbd;
    --color-gray5: #e0e0e0;
    --color-gray6: #f2f2f2;
    --color-blue: #2d9cdb;
    --color-green: #27ae60;
    --color-red: #e85757;
    --color-dark-blue: #100e1d;
}

html {
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    scroll-padding-top: 8em;
}

.page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}

.header {
    position:fixed;
    width: 100%;
    background-color: white;
    top: 0;
    padding: 1em;
    z-index: 1000;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-name {
    font-size: var(--website-name);
    font-family: var(--heebo);
    color: var(--color-gray1);
}

.menu-btn {
    color: var(--color-black);
    cursor: pointer;
}

.header-nav {
    height: 18em;
    margin: 0 2em;
    font-family: var(--poppins);
    background-color: white;
    overflow: hidden;
    transition: all 0.3s;
}

.close-menu {
    height: 0;
}

.header-nav .menu {
}

.header-nav .menu__link {
    font-weight: 500;
    color: var(--color-gray1);
}

.main {
    margin: 1em;
    font-family: var(--poppins);
}

.home {
    margin: 6em 3em 4em;
}

.pretitle {
    font-size: var(--pretitle);
    color: var(--color-blue);
    font-weight: 500;
}

.title {
    font-size: var(--title);
    color: var(--color-gray1);
    font-weight: 500;
    line-height: 3.6rem;
}

.team-image {
    height: 14em;
    margin: 1em -3em;
}

.team-image picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
}

.section-title {
    font-size: var(--section-title);
    font-weight: 500;
    color: var(--color-gray1);
    padding-right: 2em;
    line-height: 3.6rem;
    margin: 1em 0;
}

.section-para {
    font-size: var(--section1-p);
    font-weight: 400;
    color: var(--color-gray2);
    line-height: 1.8rem;
}

.contact {
    margin: 3em 0;
}

.contact__span {
    font-size: var(--section1-span);
    font-weight: 500;
    color: var(--color-gray3);
    line-height: 1.5rem;
}

.contact__input {
    margin-right: -1.6em;
    position: relative;
    background-color: var(--color-gray6);
    border-radius: 12px;
    padding: 1em;
    height: 6em;
}

.contact__input-input, .contact__input-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.contact__input-input {
    width: 15em;
    background-color: transparent;
    border: none;
    outline: none;
    height: 2em;
    font-size: var(--section1-input);
    font-weight: 500;
    color: var(--color-gray4);
}

.contact__input-button {
    right: 0.4em;
    width: 5em;
    height: 3.2em;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-gray6);
    font-size: var(--section1-input);
    border-radius: 8px;
}

.services {
    margin: 12em 3em;
}

.services-card {
    position: relative;
    margin: 8em 0;
    padding-top: 8em;
}

.services-card__icon {
    position: absolute;
    display: grid;
    place-items: center;
    top: 1em;
    height: 6em;
    width: 6em;
    border-radius: 8px;
}

.services-card__icon .material-icons {
    color: white;
    font-size: 3.2em;
}

.blue-icon {
    background-color: var(--color-blue);
}

.green-icon {
    background-color: var(--color-green);
}

.red-icon {
    background-color: var(--color-red);
}

.services-card__title {
    margin: 1em 0;
    font-size: var(--section2-title);
    font-weight: 700;
    color: var(--color-gray1);
    line-height: 3.6rem;
}

.services-card__para {
    font-size: var(--section2-p);
    font-weight: 400;
    color: var(--color-gray2);
    line-height: 2.4rem;
    padding-right: 1em;
}

.services-card__button {
    margin: 1em 0 1em 0.4em;
    font-size: var(--section2-button);
    background-color: var(--color-gray5);
    outline: none;
    border: none;
    border-radius: 12px;
    color: var(--color-gray3);
    padding: 0.8em;
}

.active {
    background-color: var(--color-blue);
    color: white;
}

.works .section-title {
    margin: 1em 1.2em;
}

.works-card {
    margin: 3em 0;
}


.works-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.works-card__tech {
    font-size: var(--section3-tech);
    font-weight: 300;
    color: var(--color-gray3);
}

.works-card__project {
    font-size: var(--section3-project);
    font-weight: 500;
    color: var(--color-gray1);
}

.works-card__more {
    position: relative;
    width: 100%;
    height: 1em;
    font-size: var(--section3-more);

}

.works-card__more a {
    color: var(--color-blue);
    text-decoration: none;

}

.works-card__more .material-icons {
    position: absolute;
    top: -0.08em;
    left: 3.8em;
}

.team {
    margin: 8em 0 4em;
}

.team-pretitle {
    font-size: var(--section4-pretitle);
    font-weight: 500;
    color: var(--color-red);
    margin: 1em 0;
}

.team-title {
    font-size: var(--section4-title);
    font-weight: 500;
    color: var(--color-gray1);
    margin-right: 2em;
}

.team-para {
    font-size: var(--section4-p);
    font-weight: 400;
    color: var(--color-gray2);
    margin: 1em 0 0;
}

.team-photos {
    display: grid;
    height: 40em;
    width: 100%;
    place-items: center;
    grid-template-columns: 52% 48%;
    grid-template-rows: 47% 53%;
}

.team-photos__img {
}

.team-photos__img img {
    padding: 0.4em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.team-photos .team-photos__img:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2 ;
    justify-self: end;
    width: 100%;
    height: 50%;
}

.team-photos .team-photos__img:nth-child(2) {
    justify-self: left;
    align-self: end;
    width: 90%;
    height: 90%;
}

.team-photos .team-photos__img:nth-child(3) {
    justify-self: left;
    align-self: baseline;
    width: 100%;
    height: 85%;
}

.team-photos .team-photos__img:nth-child(3) img {
    object-position: right;
}

.client-cite {
    font-size: var(--section5-cite);
    font-weight: 500;
    color: var(--color-gray1);
    line-height: 3.6rem;
}

.client-about {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    height: 8em;
    justify-content: center;
    position: relative;
    padding-left: 10em;
}

.client-about__photo {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 8em;
    height: 8em;
}

.client-about__photo img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.client-about__name {
    font-size: var(--section5-name);
    font-weight: 500;
    color: var(--color-gray1);
}

.client-about__project {
    font-size: var(--section5-rol);
    font-weight: 500;
    color: var(--color-gray3);
}

.client-about__name, .client-about__project {
    padding: 0.3em 0;
}

.footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--color-dark-blue);
    padding: 4em;
}

.footer-nav {
    margin-bottom: 6em;
}

.menu {
    list-style: none;
}

.menu__link {
    font-family: var(--poppins);
    font-size: var(--footer-menu);
    font-weight: 40;
    color: white;
    line-height: 3.6rem;
    text-decoration: none;
}

.contact-section {
    margin: 8em 0;

}

.website-name-footer {
    font-family: var(--heebo);
    font-size: var(--footer-website-name);
    font-weight: 800;
    color: var(--color-gray6);
}

.fa-instagram-square,
.fa-linkedin,
.fa-twitter-square,
.fa-github-square {
    height: 2em;
}

.footer-contact {
    margin: 4em 0;
}

.footer-contact .contact__input {
    margin-right: 0;
}

.footer-contact .contact__input-input {
    width: 14.5em;
}

.created-by {
    margin-top: auto;
    text-align: center;
}

.created-by p, .created-by a {
    font-family: var(--montserrat);
    font-size: var(--footer-created);
    color: var(--color-gray6);
}

.created-by p {
    font-weight: 500;
}

.created-by a {
    font-weight: 700;
    text-decoration: none;
}
